{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="border-form">
            <h1 class="head-form">Создание задачи</h1>
            <div class="form-block">
                <div>
                    <div>Описание</div>
                    <div class="title-form">Статус</div>
                    <div>Дата выполнения</div>
                </div>
                <form action="/add-task/" method="post">
                    {% csrf_token %}
                    <label for="description"></label>
                    <textarea name="description" rows="4" cols="50"></textarea><br/><br/>
                    <select name="status">
                    {% for status in status_choices %}
                        <option value="{{status.0}}" 
                        {% if status.0 == 'new' %}selected{% endif %}> {{status.1}} </option>
                    {% endfor %} 
                    </select><br/>
                    <label for="created_at"></label><br/>
                    <input type="text" name="created_at"/><br/>
                    <br/>
                    <input type="submit" value="Создать"/>
                </form>
            </div>
        </div>
    </div>
</body>
</html>