{% extends 'base.html' %}

{% block content %}
<form method="post" action="/">
{% csrf_token %}
<header class="header">
    <div class="container">
        <div class="hblock">
            <h1 class="h-block">Задачи</h1>
            <a href="/add-task/">Новая задача</a>
                <input type="submit" value="Удалить выбранную задачу" class="button-link">
        </div>
    </div>
</header>
<main class="container">
        <div class="nav-block">
        <p class="id-main">№</p>
        <p class="title-main">Статус</p>
        <p class="title-main">Описание</p>
        <p class="title-main">Дата выполнения</p>
            </div>
</main>
<div class="container">
    {% for task in tasks%}
    <div class="main-block">
            <input type="checkbox" name="task_ids" value="{{ task.id }}">
            <p class="id-main">{{ forloop.counter }}</p>
            <p class="title-main">{{ task.get_status_display}}</p>
            <a href="{% url 'detail_task' task.pk %}">{{ task.description }}</a>
            <p class="title-main">{{ task.created_at }}</p>

    </div>
    {% endfor %}
</div>
</form>
{% endblock %}