body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #111;
}

.container {
    max-width: 1164px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.h-block {
    margin-right: auto;
}

.hblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    border-bottom: 1px solid rgba(17, 17, 17, 0.5);
}

.title_nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: bold;
    color: royalblue;
}

.nav-block {
    background-color: darkgrey;
    display: flex;
    gap: 87px;
    padding-left: 132px;
}

.id-main{
    width: 8%;
    text-align: center;
}

.title-main {
    width: 22%;
    text-align: center;
}

.main-block {
display: flex;
gap: 81px;
padding-left: 30px;
background-color: rgba(72, 184, 223, 0.2);
}

.head-form {
    text-align: center;
}

.form-block {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.title-form {
    margin-top: 70px;
    margin-bottom: 22px;
}

.border-form {
    border: 2px solid black;
    padding: 35px;
    width: 53%;
    margin-left: 20%;
    margin-top: 5%;
}

.button-link {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    padding: 0 15px;
    font: inherit;
}