body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #111;
}

.container {
    max-width: 1164px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.h-block {
    margin-right: auto;
}

.hblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    border-bottom: 1px solid rgba(17, 17, 17, 0.5);
}

.title_nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: bold;
    color: royalblue;

}

.nav-block {
    background-color: darkgrey;
    display: flex;
    gap: 101px;
}

.id-main{
    width: 8%;
    text-align: center;
}

.title-main {
    width: 22%;
    text-align: center;
}

.main-block {
    display: flex;
    gap: 101px;
    background-color: rgba(72, 184, 223, 0.2);
}

